<div style="scroll-snap-align: start;">
	<div class="title">
		<a href="/">
			<img src="{{site.static}}img/main-logo.svg" alt="ROWAN FUTURE">
		</a>
	</div>
	<div class="navbar">
		<div class="navbarlink">
			<a href="/">
				<img src="{{site.static}}img/games-logo.svg" alt="ROWAN GAMES">
			</a>
		</div>
		<div class="navbarlink">
			<a href="https://twitter.com/rowanfuture/" target="_blank">
				<img style="transform: scale(1.5);" src="{{site.static}}img/twitter-logo.svg" alt="TWITTER">
			</a>
		</div>
		<div class="navbarlink">
			<a href="{{site.discord}}" target="_blank">
				<img src="{{site.static}}img/discord-logo.svg" alt="DISCORD">
			</a>
		</div>
		<!-- <div class="navbarlink">
			<a href="https://rowan.direct/">
				<img src="{{site.static}}img/direct-logo.svg" alt="ROWAN DIRECT">
			</a>
		</div> -->
	</div>
</div>