<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
	<head>
		{% include head.html data=page.data %}
    </head>
	<body>
        {% include title.html %}
		{% assign gamedata = site.data.games[page.data] %}
        <div class="full-bg {{gamedata['bgtype']}}" style="background-image:url('{{site.static}}img/{{gamedata['bg']}}'); background-color:{{gamedata['bgcol']}};"s>
            <div id="game" class="gamepage">
                <div style="background-image:url('{{site.static}}img/{{gamedata['fg']}}');" class={{gamedata['fgtype']}}></div>
                <div class="title">
                    <br>
                    <img src={{site.static}}img/{{gamedata['logo']}} alt=gamedata['title'] \>
				</div>
                <div class="break">
					{% for link in gamedata['links'] %}
                        <a href={{link["url"]}} class="gamelink" target="_blank">
                            <img src={{site.static}}img/{{site.data.links[link["type"]]["logo"]}} \>
						</a>
					{% endfor %}
				</div>
                <div class="gameinfo-panel" style="color:{{gamedata['textcolor']}}; background-color:{{gamedata['panelcolor']}}">
                    <div class="gameinfo">
						{% if gamedata['steamid'] != 0 %}
							<iframe id="iframe" style="margin:0px; border: none; width: 100%; height: 200px; " src=https://store.steampowered.com/widget/{{gamedata['steamid']}}></iframe>
                        {% else %}
                            <p class="gametext" style=`background-color:{{gamedata['panelcolor']}}`>
								{{gamedata['info']}}
							</p>
						{% endif %}
                        <div class="roles">
                            <table class="roletable" style=`color:{{gamedata['textcolor']}};`>
								{% for role in gamedata['roles'] %}
                                    <tr>
                                        <td class="role">
											{{ site.data.devs[role["type"]]["title"] }}
                                        </td>
										<td>
											{% for val in role["people"] %}
											{% assign person = site.data.devs[val] %}
                                                <a href='https://twitter.com/{{person.twitter}}' target="_blank">
                                                    <div class="person tooltip">
														{{ person.name }}
                                                        <span class="tooltiptext">
															@{{person.twitter}}
														</span>
													</div>
												</a>
												<br>
											{% endfor %}
										</td>
									</tr>
								{% endfor %}
							</table>
						</div>
                        <!-- {% if data.press != false %}
                            <a class="press-logo" src="">
                                <img src="{{site.static}}img/press-logo.svg" \>
							</a>
						{% endif %} -->
					</div>
				</div>
			</div>
		</div>
	</body>
</html>